<h3>CART: <div *ngIf="customer?.customerName.length > 0">
  {{customer?.customerName}} - {{customer?.customerId}}
</div> </h3>

<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-product" *ngFor="let product of products">
  <span>{{product.name}}</span>
  <span>{{product.price | currency}}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name" required="required">
  </div>
  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address" required="required">
  </div>
  <button class="button" type="submit">Purchase</button>
</form>

<div style="margin-top: 20px" *ngIf="customers">
  <label for="customersDisplay">Customers:</label>
  <div id="customersDisplay" *ngFor="let cust of customers">
    {{cust.customerName}} - {{cust.customerId}}
  </div>
</div>
