<h3>CART: <div *ngIf="customer?.customerName.length > 0">
  {{customer?.customerName}} - {{customer?.customerId}}
</div> </h3>

<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-product" *ngFor="let item of items">
  <span>{{item.name}} - {{item.price | currency}}</span>
</div>
<div class="mt-3" *ngIf="productTotal">
  <hr>
  <b>Total - {{ productTotal | currency }}</b>
</div>
<div class="mt-3" *ngIf="!productTotal">
  <i>Empty cart...</i>
</div>

<hr>

<form class="mt-3" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name" required="required">
  </div>
  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address" required="required">
  </div>
  <button class="button" type="submit">Purchase</button>
</form>

<div class="mt-3" *ngIf="customers">
  <hr>
  <label for="customersDisplay">Customers:</label>
  <div id="customersDisplay" *ngFor="let cust of customers">
    {{cust.customerName}} - {{cust.customerId}}
  </div>
</div>
