<h3 class="mt-2">CART: <span *ngIf="customer?.customerName.length > 0">
  {{customer?.customerName}} - {{customer?.customerId}}
</span> </h3>

<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-product" *ngFor="let item of items">
  <span>{{item.name}} - {{item.price | currency}}</span>
</div>
<div class="mt-3" *ngIf="productTotal">
  <hr>
  <b>Total - {{ productTotal | currency }}</b>
</div>
<div class="mt-3" *ngIf="!productTotal">
  <i>Empty cart...</i>
</div>

<hr>

<form id="checkoutForm" class="mt-3" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label for="name">Customer Name*</label>
    <input id="name" class="form-control" type="text" formControlName="name">

  </div>
  <div>
    <label for="address">Address*</label>
    <input id="address" class="form-control" type="text" formControlName="address" required="required">
  </div>
  <button class="button" type="submit" [disabled]="checkoutForm.invalid || items.length==0">Purchase</button>
</form>

<app-purchase-results [data]="cartOrderId"></app-purchase-results>


<div class="mt-3" *ngIf="customers">
  <hr>
  <label for="customersDisplay">Customers:</label>
  <div id="customersDisplay" *ngFor="let cust of customers">
    {{cust.customerName}} - {{cust.customerId}}
  </div>
</div>
